 @media screen and (min-device-width:601px) and (max-device-width:2000px){

 header {
         font-family: Arial
         }
         .wf-opensans-n4-active .header {
          font-family: 'Open Sans'
          }
          html,body {
        /*font: 15px Montserrat, sans-serif;*/
        line-height: 1.8;
        height:60%;
		font-family: 'Raleway', sans-serif;
        }
        p {font-size: 16px;}
        .margin {margin-bottom: 45px;}

         .navbar-brand{
            color:#00b8e6; line-height: 90px;
       }

        .container img{
            width:120px; height:auto; margin:0px 20px 0px 0px; float:left;
        }

        .container-fluid {
        padding-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

        }
        .navbar {
        padding-top: 15px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 0;
        font-size: 15px;
        letter-spacing: 5px;
        text-align:left;
        margin-left:0cm;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px;
        }
		.navbar-nav{padding-top:35px;}
        .navbar-nav li a:hover {
        color: #1abc9c !important;
        }

		.col-sm-3:hover{
			color:#00b8e6;

		}

        .p1 {
        color: ;
        font-family:  'Raleway', sans-serif;
        font-style: bold;
        font-size: 18px;
        letter-spacing: 5px;
        }

		.p1 img{
			width: 180px;
			height: 250px;
			margin: 15px auto;
		}

		/*IMAGE ANIMATION --- I personally don't like it but it does add some liveliness to the page
		.p1 img:hover{
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);
			-webkit-transition: -webkit-transform 0.5s linear;
			-moz-transition: -moz-transform 0.5s linear;
			transition: transform 0.5s linear;

		} **/

		.name{
			font-family: 'Montserrat', sans-serif;
			font-size: 150%;

		}


		.title{
			font-family: 'Raleway', sans-serif;

		}

        .price {
         background-color: #39D1B4 ;
         color: #fff;
         font-size: 18px;
           border-radius: 50%;
           box-shadow: 0 2px 5px rgba(0,0,0,0.2);
           font-weight: 200;
           height: 80px;
           line-height: 80px;
           text-align: center;
           width: 80px;
         position: absolute;
         top: -40px;
         right: 20px;
        }


        .section1 {
        background-image:url(images/cover6.jpg);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height:400px;
        margin: auto;

		}

		.section12 {
        background-image:url(images/Ghanaflag.jpg);
        background-position: fixed;
        background-size: cover;
        max-width: 100%;
        height:200px;
		margin: auto;
		}
		.section13 {
        background-image:url(images/Ghanaflag.jpg);
        background-position: fixed;
        background-size: cover;
        max-width: 100%;
        height:200px;
		margin: auto;
		}
		.section14 {
        background-image:url(images/Kente.jpg);
        background-position: fixed;
        background-size: cover;
        max-width: 100%;
        height:200px;
		margin: auto;
		}




    .sidenav {
      padding-top: 50px;
      background-color: #;
      height: 100%;
    }
    .middlenav {
      padding-top: 15px;
         margin-left: 2cm;
         margin-right: 1cm;
      background-color: white;


        }
        footer {
        background-color: #555;
        color: white;
        padding: 15px;
        }


        .sidenav {
        height: auto;
        padding: 15px;
      }

      .row{padding:0px;}
      .row.content {height:auto;}
      .row{width:100%;}
        }

		footer {
			background-color: #555;
			color: white;
			padding: 15px;
		}

		input{
			height:70px;

		}

		.btn:hover{
			background-color:#3F8645;
			color:#ffffff;

		}

		   #section1 {color: #;black; background-color: #; padding:0px;}
			#section2 {color: #; background-color: #;}
			#section3 {color: #; background-color: #;}
			#section4 {color: #; background-color: #00b8e6; margin:0px;}


			@media screen and (max-width: 810px) {
			#section1, #section2, #section3, #section4,section1 {
			margin-left: 180px;
			}




 }


 @media screen and (min-device-width:200px) and (max-device-width:600px){

header {
         font-family: Arial
         }
         .wf-opensans-n4-active .header {
          font-family: 'Open Sans'
          }
          html,body {
        /*font: 15px Montserrat, sans-serif;*/
        line-height: 1.8;
        height:100%;
		font-family: 'Raleway', sans-serif;
        }
        p {font-size: 16px;}
        .margin {margin-bottom: 45px;}

        .container img{
            width:120px; height:auto; margin:100px 20px 0px 0px; float:left; box-sizing:border-box;
        }
        .container-fluid {
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: -3px;
        padding-right: -3px;

        }
        .navbar {
        padding-top: 15px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 0;
        font-size: 15px;
        letter-spacing: 5px;
        text-align:left;
        margin-left:0cm;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px;
        }
		.navbar-nav{padding-top:35px;}
        .navbar-nav li a:hover {
        color: #1abc9c !important;
        }

		.col-sm-3:hover{
			color:#00b8e6;

		}

        .p1 {
        color: ;
        font-family:  'Raleway', sans-serif;
        font-style: bold;
        font-size: 18px;
        letter-spacing: 5px;
        }

		.p1 img{
			width: 180px;
			height: 250px;
			margin: 15px auto;
		}

		/*IMAGE ANIMATION --- I personally don't like it but it does add some liveliness to the page
		.p1 img:hover{
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);
			-webkit-transition: -webkit-transform 0.5s linear;
			-moz-transition: -moz-transform 0.5s linear;
			transition: transform 0.5s linear;

		} **/

		.name{
			font-family: 'Montserrat', sans-serif;
			font-size: 150%;

		}


		.title{
			font-family: 'Raleway', sans-serif;

		}



        .section1 {
        background-image:url(img/bg.mp4);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height:200px;
        width:1400px;
        margin:105px 0px 0px 0px;
        box-sizing:border-box;

		}

		.section12 {
        background-image:url(images/cover1.jpg);
        background-position: fixed;
        background-size: cover;
        max-width: 100%;
        height:200px;
        width:1400px;
        margin:105px 0px 0px 0px;
        box-sizing:border-box;
		}
		.section13 {
        background-image:url(images/Ghanaflag.jpg);
        background-position: fixed;
        background-size: cover;
        max-width: 100%;
        height:200px;
        width:1400px;
        margin:105px 0px 0px 0px;
        box-sizing:border-box;
		}
		.section14 {
        background-image:url(images/Kente.jpg);
        background-position: fixed;
        background-size: cover;
        max-width: 100%;
        height:200px;
        width:1400px;
        margin:105px 0px 0px 0px;
        box-sizing:border-box;
		}


       .navbar-brand{
            color:#00b8e6; line-height: 20px;
       }

    .sidenav {
      padding-top: 50px;
      background-color: #;
      height: 100%;
    }
    .middlenav {
      padding-top: 15px;
         margin-left: 2cm;
         margin-right: 1cm;
      background-color: white;


        }
        footer {
        background-color: #555;
        color: white;
        padding: 15px;
        }


        .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
      .row{width:100%;}

		footer {
			background-color: #555;
			color: white;
			padding: 15px;
		}

		input{
			height:70px;

		}

		.btn:hover{
			background-color:#3F8645;
			color:#ffffff;

		}

		   #section1 {color: #;black; background-color: #; box-sizing:border-box;}
			#section2 {color: #; background-color: #;}
			#section3 {color: #; background-color: #;}
			#section4 {color: #; background-color: #00b8e6; margin:0px;}


			@media screen and (max-width: 810px) {
			#section1, #section2, #section3, #section4 {
			margin-left: 0px; padding:0px; box-sizing:border-box;
			}
}




 }


